.category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 16%;
  padding-block: 8rem 10rem;
  position: relative;
  overflow: hidden;
  border-bottom: 0.1px solid #16a34a;

  &-accent {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20rem;
    font-family: "Roboto-Bold";
    display: inline-block;
    margin-top: -9rem;

    color: rgba(255, 255, 255, 0.08);
  }

  &-headline {
    font-family: "PlayfairDisplay-Black";
    color: #fff;
    font-size: 5.2rem;
    position: relative;
    z-index: 1;
  }

  &-content {
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 1.8rem;
  }
}
