@use "../../scssStyles/variables";

.listitem {
  font-family: "PlayfairDisplay-Medium";
  display: flex;
  justify-content: space-between;

  margin-block: 5%;
  box-shadow: 5px 1px green;
  padding: 1em;
  border-radius: 20px 2px 2px 2px;
  border: 1px solid variables.$heading-color;

  &:hover {
    border: 1px solid white;
    box-shadow: 7px 1px white;
  }

  .titlebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;

    img {
      width: 13%;
      padding-left: 1%;
    }
  }

  .card_title {
    // font-size: 4vw;
    color: variables.$text-color;
    font-family: variables.$text-font-family;
    width: 20ch;
    padding-top: 1%;
    padding-left: 1%;
  }
  img {
    max-width: 30%;
    border-radius: 20px 2px 2px 2px;
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .listitem {
    .card_title {
      font-size: 18px;
    }
    .listitem {
      margin-block: 10px;
    }
    .titlebox {
      img {
        width: 25%;
        padding-left: 1%;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
