$btn-bg-color-dark: red;
$btn-bg-color-dark-hover: red;
$btn-bg-color-dark-active: red;

$btn-bg-color-light: red;

$btn-border: 2px solid red;

$btn-box-shadow-hover: 4px 4px 5px red;
$btn-box-shadow-active: 2px 2px 2px red;
