$primary-color-dark: rgb(3, 3, 3);
$secundary-color-dark: rgb(23, 163, 74);
$heading-color: rgb(23, 163, 74);
$text-color: #fff;
$box-shadow-dark: 5px 5px 10px rgba(22, 162, 73, 0.5);
$box-shadow-hover-dark: 2px 2px 10px rgba(22, 162, 73, 0.5);

$text-font-family: "Roboto-Regular", sans-serif;
